*{  margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
a:link{color: #4260BC;}
a:hover{color: #E83A05;}
a:active{}
a:visited{}

header{
    height: 70px;
    display: flex;
    justify-content: left;
    align-items: center;}

nav{position: relative;
    width: 495px;
    height: 193px;
    display: flex;
    justify-content: center;
    z-index: 10;
}

nav ul{position: absolute;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    top: 18px;
    left: 1086px;
}

nav ul li a{display: block;
    text-align: center;
    font-weight: 600;
    width: 100px;
}
section{height: 6800px; width: 1920px;}
h1{font-size: 60px; text-align: center; border-bottom: 1px solid #E83A05}
h2{margin-top: 10px; font-size: 25px; text-align: center; font-weight: 700; color: #4260BC;}
h3{font-size: 20px; text-align: center; font-weight: 300; color: #999999;}

.col1{width: 653px; height: 831px;margin: 400px auto 0 auto;}
.col2{width: 653px; height: 831px; margin: 400px auto 0 auto;}
.col3{width: 653px; height: 831px; margin: 400px auto 0 auto;}
.col4{width: 640px; height: 873px; margin: 400px auto 0 auto;}